Repository razrinn/depwalker: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Analyzer Module, UI Module

Path conditions:
  unit: any of: src/**/*.ts, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/coverage/**, **/test/**, vitest.config.ts, .changeset/**, *.config.js, *.config.ts, src/index.ts
  Analyzer Module: any of: src/analyzer.ts, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/coverage/**, **/test/**, vitest.config.ts, .changeset/**, *.config.js, *.config.ts, src/index.ts
  UI Module: any of: src/ui.ts, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/coverage/**, **/test/**, vitest.config.ts, .changeset/**, *.config.js, *.config.ts, src/index.ts

asd
  .github/workflows/ci-cd.yml
  package.json
Due: none

zzz
  .changeset/chatty-times-notice.md
  .github/workflows/ci-cd.yml
Due: none

zzz0
  .changeset/smooth-doodles-laugh.md
  .github/workflows/ci-cd.yml
Due: none

zxcxzczxc
  .changeset/brown-actors-pump.md
  .github/workflows/ci-cd.yml
Due: none

qweqwe
  .changeset/tough-plants-mate.md
  .github/workflows/ci-cd.yml
Due: none

update auto release
  .github/workflows/ci-cd.yml
Due: none

improvement on graph visualization
  .changeset/sharp-poems-speak.md
  src/formatter.ts
Due: unit

plugin based
  .changeset/wide-cities-find.md
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  src/formatter.ts
  src/plugin/format-html/index.ts
  src/plugin/format-markdown/index.ts
  src/plugin/index.ts
  src/plugin/registry.ts
  src/plugin/shared/tree-builder.ts
  src/plugin/shared/utils.ts
  src/plugin/types.ts
Due: unit

feat: add lazy import support
  .changeset/huge-symbols-make.md
  .changeset/lazy-import-support.md
  src/analyzer.ts
  src/plugin/format-html/index.ts
  src/plugin/format-markdown/index.ts
  src/plugin/shared/utils.ts
  src/types.ts
Due: unit, Analyzer Module

update readme
  README.md
Due: none

fix graph
  .changeset/tasty-moons-lead.md
  src/plugin/format-html/index.ts
Due: unit

group tree
  src/plugin/format-html/index.ts
  src/plugin/format-markdown/index.ts
  src/plugin/shared/tree-builder.ts
Due: unit

breakdown html plugin into files, improve html view
  .changeset/fix-html-js-syntax.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  src/analyzer.ts
  src/plugin/format-html/graph.ts
  src/plugin/format-html/index.ts
  src/plugin/format-html/scripts.ts
  src/plugin/format-html/styles.ts
  src/plugin/format-html/templates.ts
  src/plugin/format-html/tree.ts
  src/plugin/format-html/types.ts
Due: unit, Analyzer Module

update readme
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

update tree
  .changeset/fix-version-hardcode.md
  src/plugin/format-html/index.ts
  src/plugin/format-html/tree.ts
  src/plugin/shared/tree-builder.ts
Due: unit

Update README.md
  README.md
Due: none

refactor code
  .changeset/sunny-bananas-count.md
  CLAUDE.md
  src/analyzer.ts
  src/constants.ts
  src/formatter.ts
  src/index.ts
  src/plugin/format-html/index.ts
  src/plugin/format-markdown/index.ts
  src/plugin/shared/utils.ts
  src/spinner.ts
  src/types.ts
Due: unit, Analyzer Module

simplify output
  .changeset/fiery-bats-sing.md
  src/plugin/format-html/graph.ts
  src/plugin/format-html/index.ts
  src/plugin/format-html/scripts.ts
  src/plugin/format-html/styles.ts
  src/plugin/format-html/templates.ts
  src/plugin/format-html/tree.ts
  src/plugin/format-html/types.ts
  src/plugin/format-markdown/index.ts
Due: unit

docs
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: none

use bfs
  .changeset/bright-walls-rush.md
  CLAUDE.md
  README.md
  src/constants.ts
  src/plugin/format-html/index.ts
  src/plugin/format-html/styles.ts
  src/plugin/format-html/templates.ts
  src/plugin/format-markdown/index.ts
  src/plugin/shared/tree-builder.ts
Due: unit

improve nodes result
  .changeset/calm-doors-glow.md
  src/plugin/format-html/index.ts
  src/plugin/format-html/templates.ts
  src/plugin/format-markdown/index.ts
  src/plugin/shared/tree-builder.ts
Due: unit
